//All bulma customizations in here

@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

//Define new colors
$blue: #4392F1;
$green: #2AD6AF;
$red: #FB3962;
$yellow: #FDDE68;
$black: #333;

//Assign colors to primary, danger etc.
$primary: $blue;

//Set new font family
$family-primary: "Roboto";

//Font setting
$size-1: 80px;
$size-2: 48px;
$size-3: 36px;
$size-4: 28px;
$size-5: 18px;
$size-6: 14px;
$size-7: 12px;

//Column setting
$column-gap: 40px;

@import 'bulma/bulma.sass';
